/* Variabler til bestemmelse af farver på sections */
:root {
  --color0: #cbd4ba;
  --color1: #d4c7ba;
  --color2: #bad4d1;
  --color3: #b9bdd4;
  --color4: #bdbad4;
  --color5: #d4c1ba;
  --color6: #d0bad4;
  --color7: #b9cfd4;
  --color8: #bbd4b9;
}


/* Basic tekst og position  */
html {
  font-size: 16px;
}
/* Sørger for at elenemter hverken bliver for store eller små efterhånden som det bliver større  */
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}
h1{
    text-align: center;
    padding-bottom: 15%;
    font-family: 'IM Fell DW Pica', serif;
    font-size: 4vmin
}
h2{
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-size: 600%;
}
.section{
		text-align: center;
}
h1[class="section"] {
  width: auto;
}
/* Fixed Header */
#header{
  position: fixed;
  height: 12vh;
  display: block;
  width: 100%;
  background: rgba(#ffffff, 0);
  z-index: 9;
  text-align: center;
  padding: 20px 0 0 0;
  top: 0px;
}
/* Runder hjørner for header logo felt */
#rcorners {
    border-radius: 75px;
    background:#edeeef;
    padding-top: 0.0%;
    width: 50vh;
    height: 100%;
    margin: auto;
    box-shadow: 0.5vmin 0.75vmin 0.75vmin #4e4e4f;

    text-align: center;
    /* font-family: "Nunito Sans", sans-serif; */
    font-family: 'Pacifico', cursive;
    font-size: 8vh;
    font-weight: normal;

}

/* section colors */
/* Der er tre liner for definition af de lineære gradient. En til hver slags tekonogi. Det sørger for at det virker på alle typer enheder og alle nyere browsers. */
#section0{
  background: -webkit-gradient(linear, top left, bottom left, from(var(--color0)), to(var(--color1)));
	background: -webkit-linear-gradient(var(--color0), var(--color1));
	background: linear-gradient(var(--color0),var(--color1));
}

#section1{
  background: -webkit-gradient(linear, top left, bottom left, from(var(--color1)), to(var(--color2)));
	background: -webkit-linear-gradient(var(--color1), var(--color2));
	background: linear-gradient(var(--color1),var(--color2));
}

#section2{
  background: -webkit-gradient(linear, top left, bottom left, from(var(--color2)), to(var(--color3)));
	background: -webkit-linear-gradient(var(--color2), var(--color3));
	background: linear-gradient(var(--color2),var(--color3));
}

#section3{
  background: -webkit-gradient(linear, top left, bottom left, from(var(--color3)), to(var(--color4)));
	background: -webkit-linear-gradient(var(--color3), var(--color4));
	background: linear-gradient(var(--color3),var(--color4));
}

#section4{
  background: -webkit-gradient(linear, top left, bottom left, from(var(--color4)), to(var(--color5)));
	background: -webkit-linear-gradient(var(--color4), var(--color5));
	background: linear-gradient(var(--color4),var(--color5));
}

#section5{
  background: -webkit-gradient(linear, top left, bottom left, from(var(--color5)), to(var(--color6)));
	background: -webkit-linear-gradient(var(--color5), var(--color6));
	background: linear-gradient(var(--color5),var(--color6));
}

#section6{
  background: -webkit-gradient(linear, top left, bottom left, from(var(--color6)), to(var(--color7)));
	background: -webkit-linear-gradient(var(--color6), var(--color7));
	background: linear-gradient(var(--color6),var(--color7));
}

#section7{
  background: -webkit-gradient(linear, top left, bottom left, from(var(--color7)), to(var(--color8)));
	background: -webkit-linear-gradient(var(--color7), var(--color8));
	background: linear-gradient(var(--color7),var(--color8));
}
