/* Basic tekst og position  */
Body{
    background-color: whitesmoke;
}

h2{
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-size: 600%;
}

h1{
    text-align: center;
    padding-bottom: 400px;
    font-family: serif;


}
/* Fixed Header */
#rcorners {
    border-radius: 75px;
    background:#edeeef;
    padding: 100px;
    width: 445px;
    height: 25px;
    padding-top: 0.5px;
    padding-left: 35px;
    margin: auto;
    box-shadow: 2px 5px 5px #4e4e4f;
}

#header{
  position: fixed;
  height: 50px;
  display: block;
  width: 100%;
  background: rgba(#ffffff, 0);
  z-index: 9;
  text-align: center;
  padding: 20px 0 0 0;

  top: 0px;

}
