/* Basic tekst og position  */


h2{
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-size: 600%;
}

h1{
    text-align: center;
    padding-bottom: 15%;
    font-family: serif;
}
.section{
		text-align:center;
}
/* Fixed Header */
#rcorners {
    border-radius: 75px;
    background:#edeeef;
    padding: 100px;
    width: 445px;
    height: 25px;
    padding-top: 0.5px;
    padding-left: 35px;
    margin: auto;
    box-shadow: 2px 5px 5px #4e4e4f;
}

#header{
  position: fixed;
  height: 50px;
  display: block;
  width: 100%;
  background: rgba(#ffffff, 0);
  z-index: 9;
  text-align: center;
  padding: 20px 0 0 0;
  top: 0px;
}

#section0{
  background: -webkit-gradient(linear, top left, bottom left, from(#F5F5F5), to(#969AC6));
	background: -webkit-linear-gradient(#F5F5F5, #969AC6);
	background: linear-gradient(#F5F5F5,#969AC6);
}

#section1{
  background: -webkit-gradient(linear, top left, bottom left, from(#969AC6), to(#76c2bd));
	background: -webkit-linear-gradient(#969AC6, #76c2bd);
	background: linear-gradient(#969AC6,#76c2bd);
}

#section2{
  background: -webkit-gradient(linear, top left, bottom left, from(#76c2bd), to(#c69696));
	background: -webkit-linear-gradient(#76c2bd, #c69696);
	background: linear-gradient(#76c2bd,#c69696);
}

#section3{
  background: -webkit-gradient(linear, top left, bottom left, from(#c69696), to(#8cbe7b));
	background: -webkit-linear-gradient(#c69696, #8cbe7b);
	background: linear-gradient(#c69696,#8cbe7b);
}
